{% extends 'base.html.twig' %}

{% block title %}Lista de Registros{% endblock %}

{% block body %}
<div class="container text-center my-4">
    <img src="{{ asset('images/logo.png') }}" alt="Logo" class="img-fluid" style="max-width: 500px;">
</div>
<div class="d-flex justify-content-center">

    <div class="card shadow-lg w-100" style="max-width: 500px;">
        <div class="d-grid gap-2 col-10 mx-auto my-2">
            <a href="{{ path('app_registro') }}" class="btn btn-success">Registrarse</a>
        </div>
        <div class="card-body p-4">
            <h2 class="text-center mb-4">Formulario de Búsqueda</h2>

            {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

            <div class="mb-3">
                {{ form_label(form.oficio, 'Oficio', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.oficio, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese Oficio'}}) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.oficio) }}
                </div>
            </div>

            <div class="mb-3">
                {{ form_label(form.delegacion, 'Delegación', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.delegacion, {'attr': {'class': 'form-control', 'placeholder': 'Ingrese Delegación'}}) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.delegacion) }}
                </div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="mb-4 text-center">Lista de Registros</h2>

    <div class="row">
        {% for registro in lista %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ registro.name }}</h5>
                        <p class="card-text">Descripción: {{ registro.description }}</p>
                        <p class="card-text">Horario de atención: {{ registro.time }}</p>
                        <p class="card-text">Métodos de pago: {{ registro.payment }}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ registro.id }}">
                            Ver más
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <style>
                    .modal-content {
                        max-height: 80vh;
                        overflow-y: scroll;
                        padding: 2%;
                    }
                </style>
                <div class="modal fade" id="modal-{{ registro.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ registro.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel-{{ registro.id }}">Detalles de {{ registro.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Nro. de registro:</strong> {{ registro.id }}</p>
                                <p><strong>Nombre:</strong> {{ registro.name }}</p>
                                <p><strong>Oficio:</strong> {{ registro.oficio.name }}</p>
                                <p><strong>Descripción:</strong> {{ registro.description }}</p>
                                <p><strong>Teléfono:</strong> {{ registro.phone }}</p>
                                <p><strong>Email:</strong> {{ registro.email }}</p>
                                <p><strong>Horarios de atención:</strong> {{ registro.time }}</p>
                                <p><strong>Métodos de pago:</strong> {{ registro.payment }}</p>
                                {% if registro.certification %}
                                    <p><strong>Certificación:</strong> Sí</p>
                                    <p><strong>Institución certificante:</strong> {{ registro.institution }}</p>
                                {% else %}
                                    <p><strong>Certificación:</strong> No</p>
                                {% endif %}
                                {% if registro.images %}
                                    <p><strong>Imágenes:</strong> <a href="{{ asset('images/products/' ~ registro.images) }}" target="_blank"><img src="{{ asset('images/products/' ~ registro.images) }}" width="100" height="100"></a></p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#comentario-{{ registro.id }}">
                                    Nuevo Comentario
                                </button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>

                            <!-- Comentarios -->
                            <div class="collapse mt-3" id="comentario-{{ registro.id }}">
                                <h5>Nuevo comentario</h5>
                                <p class="card-text">
                                    <input type="text" id="name-{{ registro.id }}" placeholder="Ingrese su nombre">
                                </p>
                                <textarea class="form-control" id="comentario-text-{{ registro.id }}" rows="3" placeholder="Escribe tu comentario..." maxlength="250"></textarea>
                                <div class="rating mt-3">
                                    <h6>Calificación:</h6>
                                    <div class="star-rating" id="star-rating-{{ registro.id }}">
                                        {% for i in 1..5 %}
                                            <input type="radio" name="rating-{{ registro.id }}" id="star{{ i }}-{{ registro.id }}" value="{{ i }}">
                                            <label for="star{{ i }}-{{ registro.id }}">{{ i }}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success mt-2" onclick="guardarComentario('{{ registro.id }}')">Enviar Comentario</button>
                            </div>

                            <!-- Comentarios guardados -->
                            <div class="mt-3 border p-2 mb-2" id="comentario-guardado-{{ registro.id }}"></div>

                            <!-- Mostrar comentarios existentes -->
                            <div class="mt-3">
                                {% if registro.comments|length > 0 %}
                                    {% for comment in registro.comments|reverse %}
                                        <div class="border p-2 mb-2">
                                            <p><strong>Nombre:</strong> {{ comment.name }}</p>
                                            <p><strong>Calificación:</strong> 
                                                {% for i in 1..comment.calification %}
                                                    ⭐
                                                {% endfor %}
                                            </p>
                                            <p><strong>Comentario:</strong> {{ comment.comment }}</p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No hay comentarios para mostrar.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
